/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('fussball-quiz-c-8080279-jpg--63200-.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Änderung von 'center' auf 'flex-start' */
  height: 100vh;
}

h1 {
  text-align: center;
  color: #004080;
  margin-top: 20px; /* Abstand zwischen der Überschrift und dem oberen Rand */
}

form {
  text-align: left; /* Textausrichtung auf links für das Formular */
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0059b3;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #090000;
}




